body {
  font-family: monospace;
  font-size: 16px;
  background-color: white;
  margin: 0;
  color: #212427;
}

a {
  color: #212427;
}

@font-face {
  font-family: PressStart2P;
  src: url("/fonts/PressStart2P-vaV7.ttf");
}